<% provide(:title,"About Us")%>

<h1><center>About Us</center></h1>
<p style="font-size:120px">
The <a href="http://railstutorial.org/"><span style="color:brown">Ruby on Rails Tutorial</span></a><span style="color:green">
is a project to make a</span> book and screencasts to teach 
<span style="color:darkgreen">
web development</span>
with <a href="http://rubyonrails.org/">Ruby on Rails</a>.<span style="color:crimson"> This
is the sample application for the tutorial.
</p>
